* {
  margin: 0;
  padding: 0;
}

.login-box {
  align-items: center;
  border: 1px black solid;
  display: flex;
  flex: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20% auto;
  padding: 20px;
  width: 60vw;
}

.login-box form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.login-header {
  font-size: larger;
  margin-bottom: 20px;
}
