* {
  margin: 0;
  padding: 0;
}

body {
  color: #030201;
}

header {
  align-items: center;
  background-color: #fcc729;
  color: #9c4803;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.login-box {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.6) 0 5px 10px;
  justify-content: center;
  margin: 20% auto;
  max-width: 40vw;
  padding: 20px;
  text-align: center;
}

.login-box form {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.login-box input {
  height: 20px;
  width: 20vw;
}

.login-box button {
  height: 25px;
  width: 10vw;
}

.login-header {
  font-size: larger;
  margin-bottom: 20px;
}

.logo {
  color: #9c4803;
}

.header-info {
  align-items: center;
  display: flex;
  gap: 20px;
  text-align: center;
}

.header-info p {
  color: #030201;
  font-size: small;
  font-weight: 500;
  letter-spacing: 1px;
}

.walletform {
  align-items: center;
  background-color: #fca310;
  box-shadow: rgba(0, 0, 0, 0.6) 0 5px 10px;
  display: flex;
  font-size: small;
  height: 10vh;
  justify-content: center;
  text-align: center;
}

.walletform form {
  display: flex;
  flex: row;
  flex-wrap: nowrap;
  gap: 25px;
  justify-content: center;
}

.expenses {
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  width: 95vw;
}

.expenses th {
  border-bottom: 1px black solid;
  padding-bottom: 8px;
}

.eh-desc {
  min-width: 15vw;
}
